.move {
    background-color: var(--background);
    color: var(--dark);
}

/*All buttons*/
.move .buttons {
    background: var(--light);
    box-shadow: 3px 3px 2px 0px var(--circle);
}

/*Dividers*/
.move .divider::before,
.move .divider::after {
    background-color: var(--hover1);
}

/*Navbar*/
.move .navbar {
    background: var(--light);
    box-shadow: 3px 3px 4px 0px var(--circle);
}

.move .navbar-inverse .navbar-brand:hover {
    color: var(--dark);
    /*hover1*/
    /*--underline-width: 100%; */
}

.move .navbar-inverse .navbar-toggle .icon-bar {
    background-color: var(--dark);
}

.move .navbar-inverse .navbar-toggle:focus,
.move .navbar-inverse .navbar-toggle:hover {
    background-color: var(--light);
}

.move .navbar-inverse .navbar-nav>li>a,
.move .navbar-inverse .navbar-nav>.active>a,
.move .navbar-inverse .navbar-nav>li>a:hover {
    color: var(--dark);
}

/*Toggle button*/
.move input:checked+.slider {
    background-color: var(--light);
}

/*Skills section*/
.move .auto-grid h4, .move .auto-grid p{
    color: var(--dark);
}

.move .auto-grid li {
    background: var(--light);
    box-shadow: 4px 4px 4px 0px var(--circle);
}

.move .auto-grid li:hover {
    box-shadow: 4px 4px 4px 0px var(--hover1);
}

.move .circles li {
    background: var(--circle);
}

/*Experience section*/
.move .our-webcoderskull {
    background: var(--circle);
}

.move .timeline:before {
    background: var(--light);
    box-shadow: 0 0 2px 4px var(--circle);
}

.move .timeline--entry__title {
    color: var(--dark);
    background-color: var(--circle);
}

.move .timeline--entry__title:before {
    border-right: 10px solid var(--circle);
}

.move .timeline--entry__detail {
    background-color: var(--bars);
    box-shadow: 4px 4px 4px 0px var(--circle);
}

.move .timeline--entry:before {
    color: var(--dark);
    background-color: var(--light);
    border: 0.2em solid var(--hover1);
    text-shadow: 0 1px 0 var(--hover1);
}

@supports (display: grid) {
    @media screen and (min-width: 992px){
        .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
            border-left: 10px solid var(--circle);
        }
    }
}
/*footer */
.move .footer,
.move .social-links {
    background-color: white;
    color: var(--dark);
}